.barcode{
    position: relative;
    .anaotheritem{
        position: absolute;
        width: 50vw;
        height: 50vh;
        background-color: white;
        z-index: 99999;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .close{
            display: flex;
            justify-content: space-between;
            .add{
                background-color: rgb(219, 214, 214);
                    color: black;
                    padding: 5px;
                    border-radius: 2px;
                    text-align: center;
                    font-weight: 500;
                    cursor: pointer;
            }
        }
        .listitem{
            display: flex;
            gap: 5px;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            .wrapp{
                display: flex;
                gap: 10px;
                align-items: center;
            }
            .img{
                width: 5vw;
                height: 10vh;
                background-color: lightgray;
            }
            .details{
                .name{
                    font-size: 14px;
                    font-weight: 500;
                }
                .price{
                    .mwk{
                        font-size: 10px;
                    }
                    .figure{
                        font-size: 13px;
                    }
                }
                .quantity{
                    .qt{
                        font-size: 10px;
                    }
                }
            }
            .editadd{
                display: flex;
                // margin-right: auto;
                justify-content: flex-end;
                flex-direction: column;
                gap: 5px;
                font-size: 10px;
                .editt{
                    background-color: black;
                    color: white;
                    padding: 5px;
                    border-radius: 2px;
                    text-align: center;
                    font-weight: 500;
                    cursor: pointer;
                }
                .add{
                    background-color: rgb(219, 214, 214);
                    color: black;
                    padding: 5px;
                    border-radius: 2px;
                    text-align: center;
                    font-weight: 500;
                    cursor: pointer;

                }
            }
        }
    }
    .codee{
        padding-right: 10px;
        cursor: pointer;
        font-weight: 500;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: red;
    position: relative;
    .container{
        width: 600px;
        display: flex;
        flex-direction: column;
        .upper{
            font-size: 24px;
            font-weight: 500;
        }
        .lower{
            background-color: white;
            padding-left: 10px;
            display: flex;
            gap: 10px;
            align-items: center;
            .icon{
                font-size: 30px;
            }
            .code{
                color: rgb(36, 35, 35);
                flex: 1;
                input{
                    border: none;
                    outline: none;
                    width: 100%;
                    
                }
            }
        }
        .footer{
            font-size: 12px;
            margin-top: 5px;
        }
    }
}